fastapi[standard]
uvicorn
openai>=1.0.0
pinecone-client~=4.0.0
tiktoken
pinecone
pydantic
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-auth
pypdf
easyocr
opencv-python
openpyxl
pdfplumber
Pillow
pytesseract
python-docx
python-pptx
matplotlib
pandas
seaborn
numpy
matplotlib
pandas
pdfplumber
python-dotenv
requests
seaborn
matplotlib
pandas
pdfplumber
python-dotenv
requests
seaborn
python-docx
smbprotocol
python-docx
smbprotocol
